/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*
1.làm từ ngoài vào trong
2.từ trên xuống dưới
3.Tổng quan đến chi tiết
*/
/*
1.vị trí của nó
2.kích thước của nó
3.Màu sắc
4.kiểu dáng(kiểu chữ,hình tròn,hình vuông,...)
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav{
    display: inline-block;
}
#header{
    height: 46px;
    background-color: black;
     position: fixed;/*thanh header này đứng yến */
    top: 0;
    left: 0;
    right: 0;
}
#header #nav li{
    display:inline-block;/*nằm trên cùng 1 hàng*/
    position: relative;
}
#nav .navone{
display: none;
position: absolute;
background-color: aliceblue;
}
#header #nav li a{
    color: violet;/*màu chữ*/
    text-decoration: none;/*mất gạch chân*/
    line-height: 46px;/*để cái dòng chữ nằm giữa*/
    padding: 0 24px;/*giãn chữ ra trái phải 34px*/
    display: block;/*tạo ra một khối*/
    text-transform: uppercase;
}
#nav li:hover .navone{
    display: block;
}
#header #nav li:hover a{
    background-color: aliceblue;/*chạm lên đổi màu*/
}
#header .search-btn{
    float: right;
    padding: 0 24px;
    cursor: pointer;
    border-radius: 11%;
}
#header .search-btn:hover{
    background-color: red;
    
}
#header .search-icon{
    color: cyan;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;/*tỉ lệ gốc của bức ảnh*/
    background: url('/assets/img/logo_1589011187.png') top center / cover no-repeat;
}
#slider .text-content{
position: absolute;
bottom: 47px;
left: 50%;
transform: translateX(-50%);
}

#slider .text-heading{
font-size: 20px;
color: aliceblue;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
}

#slider .text-descript{
    color: aliceblue;
}


#content{

}
.content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
    
}
.section-heading{
    text-align: center;
    letter-spacing: 40px;
    padding-left: 90px;
    color: red;
    
}
.section-sub-heading{
    text-align: center;
    padding: 14px;
    opacity: 0.6;
    font-style: italic;/*chữ nghiêng*/

}
.about-text{
    text-align: justify;/*căn đều 2 bên*/
    line-height: 1.4;/*khoảng cách dòng*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#content .members-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;  
    width: 33.33333%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    margin-top:15px;
    width: 154px;
    border-radius: 4px;
}
#footer{

}


